* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

div {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    padding: 40px;
    margin: 50px 500px;
}